body, html {
  background: #292929;
  color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 3em;
}

*, *:after, *:before {
  font-family: Indie Flower, cursive;
  font-weight: bold;
}

::selection {
  background-color: red;
}

h1 {
  margin: 0;
  text-align: right;
}

h2 {
  text-shadow: 0 1px 0 #333;
}

h3, #content, #navleft, button{
    -webkit-box-shadow: -53px -30px 30px 22px rgba(50, 255, 50, 1);
  -moz-box-shadow:    -53px -30px 30px 22px rgba(50, 255, 50, 1);
  box-shadow:         -53px -30px 30px 22px rgba(50, 255, 50, 1);
}


h1, #coverleft, #more {
    -webkit-box-shadow: inset -53px -30px 30px 22px rgba(50, 50, 255, 1);
  -moz-box-shadow:   inset -53px -30px 30px 22px rgba(50, 50, 255, 1);
  box-shadow:        inset  -53px -30px 30px 22px rgba(50, 50, 255, 1);
}


.sticky {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 100;
}

  .contentpush {
    padding-top: 5em ;
  }

.maxcontainer {
  margin: 0 auto;
  max-width: 2000px;
}

header {
  background: #2e2e2e;
  height: 100%;
  z-index: -1;
}

  #container {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  #and {
    background: #fff;
    border-radius: 100%;
    font-size: 2em;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    padding: 20px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .cover {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 50%;
    z-index: -1;
    background-repeat: repeat;
  }

  #coverleft {
    background-image: url(../img/fire.gif);
  }

  #coverright {
    background-image: url(../img/fire.gif);
  }

  @media only screen and (max-width: 1500px) {
    #coverleft {
    background-image: url(../img/fire.gif);
    }

    #coverright {
    background-image: url(../img/fire.gif);
    }
  }

  @media only screen and (max-width: 1000px) {
    #coverleft {
    background-image: url(../img/fire.gif);
    }

    #coverright {
    background-image: url(../img/fire.gif);
    }
  }

  @media only screen and (max-width: 500px) {
    #coverleft {
    background-image: url(../img/fire.gif);
    }

    #coverright {
    background-image: url(../img/fire.gif);
    }
  }

  #coverleft::before, #coverright::before {
    box-sizing: border-box;
    content: ' ';
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color 0.3s ease-in-out;
    width: 50%;
  }

  #coverleft::before {
    background-color: rgba(51, 255, 251, 0.45);
    border-right: 1px solid #fff;
    left: 0;
  }

    #coverleft:hover::before {
      background-color: rgba(120, 169, 0, 0.5);
    }

  #coverright::before {
      background-color: rgba(120, 169, 0, 0.5);
    border-left: 1px solid #fff;
    left: 50%;
  }

    #coverright:hover::before {
      background-color: rgba(120, 169, 0, 0.5);
    }

  .name {
    color: #fff;
    font-size:120px;
    margin-top: -1em;
    overflow: scroll;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #333;
    top: 50%;
    white-space: break-word;
    width: 50%;
  }

#content {
  background: #fff;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

  #more {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px 5px 0 0;
    color: #333;
    font-size: 1em;
    left: 50%;
    margin-left: -1.25em;
    padding: 0.5em 1em;
    position: absolute;
    top: -2.5em;
    transition: all 0.3s;
    z-index: 1;
  }

  #more:hover {
    background: #fff;
    cursor: pointer;
    top: -3em;
    padding-bottom: 1em;
  }

nav {
  background: #373737;
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  width: 100%;
}

  #navleft {
    display: inline-block;
    margin: 0 1em;
    padding: 0.625em 1em;
  }

    #navigation {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #navigation li {
      border-radius: 5px;
      display: inline-block;
      font-weight: 300;
      padding: 0.5em 1em;
      transition: all 0.15s;
    }

    #navigation li:hover {
      background: #444;
      cursor: pointer;
    }

    #navigation li a {
      color: #fff;
      text-decoration: none;
    }

    #title {
      font-weight: 400 ;
    }

  #navright {
    background: #444;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin: 0.5em 2em;
    padding: 0.625em 1em;
  }

    #navright:hover {
      cursor: pointer;
    }

#about {
  background: #464646;
  color: #fff;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

  .person {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .person_contents {
    margin: 1em 2em;
  }

  .about-me {
    font-weight: 300;
    text-align: justify;
  }

  #first {
    border-right: 1px solid #888;
    margin-right: 0;
    padding-right: 2em;
  }

  .photo {
    border-radius: 100%;
    border: 0.5rem solid #7e7e7e;
    height: auto;
    max-height: 350px;
    max-width: 350px;
    transition: all 0.2s;
    width: 35%;
  }

#goals {
  padding: 2em;
  text-align: center;
}

  #grid {
    margin-top: 1.5em;
  }

  .goal {
    background: #ddd;
    box-sizing: border-box;
    display: inline-block;
    margin: 1.5%;
    transition: background 0.3s;
    vertical-align: top;
    width: 20%;
  }

    .goal:hover {
      background: #efefef;
    }

  .goal > div {
    padding: 1em;
  }

    .goal p {
      height: 5em;
    }

#vote {
  background: #f0ede5;
  text-align: center;
}

  #vote h1, #vote p, #countdown {
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box ;
    color: #444;
    padding: 1em 0 ;
    position: absolute;
    text-shadow: 0 2px 0 #fff;
    width: 100%;
    z-index: 99;
  }

  #vote h1 {
    padding-bottom: 0.5em ;
  }

  #vote p {
    margin-top: 5em;
    padding-top: 0 ;
  }

  #map {
    height: 25em;
    overflow: hidden;
    width: 100%;
  }

  .gm-style img {
    background: none ;
    max-width: none ;
  }

  .gm-style-iw {
    color: #000;
    display: block;
    height: auto ;
    line-height: 18px;
    overflow: hidden ;
    white-space: nowrap;
    width: 100% ;
  }

  #gmap_canvas {
    height: 100%;
    width: 100%;
  }

  #countdown {
    height: auto;
    margin-top: 19em;
    text-shadow: none;
  }

  #countdown > div > div {
    display: inline-block;
    margin: 0 4px;
  }

  #countdown > div > div > div {
    background: #444;
    color: #eee;
    font-size: 1.2em;
    margin: 0;
    padding: 8px;
  }

#contact {
  background: #5b636a;
  color: #d6d9dc;
  padding: 2em;
  text-align: center;
}

  #contact h1 {
    margin-bottom: 0.5em;
  }

  .button {
    background: url(../img/twitter.png) no-repeat 1em 0.7em;
    background-size: 26px 26px;
    border-radius: 5px;
    border: 2px solid #d6d9dc;
    color: #d6d9dc;
    display: inline-block;
    margin: 1em;
    padding: 0.75em 3em 0.75em 3.75em;
    text-decoration: none;
    transition: all 0.3s;
    width: 100px;
  }

  .button:hover {
    background: #d6d9dc url(../img/twitter_hover.png) no-repeat 1em 0.7em;
    color: #444;
  }

footer {
  background: #363f48 url(../img/cssu.png) no-repeat center right;
  background-size: 310px auto;
  color: #aaa;
  font-size: 0.9em;
  padding: 1em 2em;
}

  footer a {
    border-bottom: 1px dotted #777;
    color: #aaa;
    text-decoration: none;
  }

  #ccimg {
    border-bottom: 0;
  }

  #cc {
    font-size: 0.75em;
    margin-top: 0;
  }

@media only screen and (max-width: 600px) {
  .cover, #coverleft::before, #coverright::before  {
    height: 50% ;
    text-align: center;
    width: 100% ;
  }

  #coverleft::before {
    border-bottom: 1px solid #fff;
    border-right: 0 ;
  }

  #coverright::before {
    border-left: 0 ;
    border-top: 1px solid #fff;
    left: 0 ;
    top: 50% ;
  }

  .name {
    position: relative ;
    top: 40% ;
    width: 100% ;
  }

  .person {
    width: 100% ;
  }

  #first {
    border-bottom: 1px solid #888;
    border-right: 0 ;
    margin-right: 2em ;
    padding-bottom: 1em ;
    padding-right: 0 ;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    text-align: center;
  }

  #navright {
    display: none ;
  }
}

@media only screen and (max-width: 950px) {
  .goal {
    margin: 1.5em 2.5% ;
    width: 40% ;
  }
}

@media only screen and (max-width: 500px) {
  .goal {
    margin: 1em 0 ;
    width: 100% ;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
  .button {
    background: url(../img/twitter@2x.png) no-repeat 1em 0.7em ;
    background-size: 26px auto ;
  }

  .button:hover {
    background: #d6d9dc url(../img/twitter@2x_hover.png) no-repeat 1em 0.7em ;
    background-size: 26px auto ;
  }

  footer {
    background: #363f48 url(../img/cssu@2x.png) no-repeat center right;
    background-size: 310px auto ;
  }
}


@-webkit-keyframes spin {  
    0%  {
        transform:rotate(0deg);
        color: red;
    }  
    10%  {
        transform:rotate(1200deg);  
        color: #C0FFEE;
    }  
    50%  {
        transform:rotate(2400deg);  
        color: rgba(0,0,0,0);
    }  
    60%  {
        transform:rotate(30deg);  
        color: #FF00FF;
    }  
    100% {
        transform:rotate(360deg);  
        color: #D3ADB3;
    }
}

@-keyframes spin {  
    0%  {
        transform:rotate(0deg);
        color: red;
    }  
    50%  {
        transform:rotate(50deg);  
        color: green;
    }  
    100% {
        transform:rotate(360deg);  
        color: blue;
    }
}

.spin{
  -webkit-animation: spin 4s infinite;
  animation: spin 3s infinite;
  transform-origin: 50% 50%;
}



@-webkit-keyframes seizure {  
    0% {
      background-color: #FFA00F;
    }
    10% {
      background-color: #3124FF;
    }
    20% {
      background-color: #F234F3;
    }
    50% {
      background-color: #420420;
    }
    80% {
      background-color: #00FF00;
    }
    90% {
      background-color: #22FF00;
    }
    100% {
      background-color: #F0F022;
    }
}

@keyframes seizure {  
    0% {
      background-color: #FFA00F;
    }
    10% {
      background-color: #3124FF;
    }
    20% {
      background-color: #F234F3;
    }
    50% {
      background-color: #420420;
    }
    80% {
      background-color: #00FF00;
    }
    90% {
      background-color: #22FF00;
    }
    100% {
      background-color: #F0F022;
    }
   
}


.seizure{
  -webkit-animation: seizure 0.2s infinite;
  animation: seizure 1s infinite;

}




@-webkit-keyframes skew {  
    0% {
      transform:skew(10deg);
      transform-origin: 10% 10%;
    }
    10% {
      transform:skew(30deg);
      transform-origin: 40% 10%;
    }
    20% {
      transform:skew(420deg);
      transform-origin: 40% 40%;
    }
    50% {
      transform:skew(100deg);
      transform-origin: 42% 0%;
    }
    80% {
      transform:skew(10deg);
      transform-origin: 3% 100%;
    }
    90% {
      transform:skew(40deg);
      transform-origin: 50% 50%;
    }
    100% {
      transform:skew(0deg);
      transform-origin: 0% 0%;
    }
}

@keyframes skew {  
    0% {
      transform:skew(10deg);
      transform-origin: 10% 10%;
    }
    10% {
      transform:skew(30deg);
      transform-origin: 40% 10%;
    }
    20% {
      transform:skew(420deg);
      transform-origin: 40% 40%;
    }
    50% {
      transform:skew(100deg);
      transform-origin: 42% 0%;
    }
    80% {
      transform:skew(10deg);
      transform-origin: 3% 100%;
    }
    90% {
      transform:skew(40deg);
      transform-origin: 50% 50%;
    }
    100% {
      transform:skew(0deg);
      transform-origin: 0% 0%;
    }
}



.skew{
  -webkit-animation: skew 0.2s infinite;
  animation: skew 1s infinite;

}

.delay {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.slow {
  -webkit-animation-duration: 5s !important;
  animation-duration: 5s !important;
}

.stars {
  background-color: transparent !important;
  background-image: url(../img/stars.gif) !important;
  background-repeat: repeat !important;
  background-attachment: fixed !important;
}